<body>
        <section>
		<title>Invigorate the Student Union!</title>
		<content><![CDATA[
			<img src="/studentunion/media/InvigorateSU.png" alt="Invigorate the Student Union!" align="left" height=200px width=auto/>
			<p>We students at IMSA often face a lot of stress. But we've been privledged to have a Student Union as a space to hang out and relax, and to destress and cope with the responsibilities that come with being IMSA students. Unfortuneately, neglect and disrespect of the space has caused it to fall into a sad state of disrepair. This project aims to bring back the hopeful magic that once graced the campus and create a first-class hangout for everyone at the academy.</p>]]>
		</content>
	</section>
	<section>
	        <title>Background</title>
	        <content><![CDATA[
	                <p>The Student Union has fallen into gross disrepair. The equipment is damaged, the facilities are drab, and it is merely an empty shadow of the beautiful student hangout it could be. This has been because of a vicious cycle of disrespect and loss-of-respect between the facility and the Student Body as the room descends into an increasingly dilapidated state. However, this cycle can be stopped and the Student Union can be restored and improved if Students can be inspired to find a place for it in their daily life on campus.</p>
	        ]]></content>
	</section>
	<section>
	        <title>Objectives</title>
	        <content><![CDATA[
	                <ul>
	                        <li>Get Students excited about using the Student Union as a place to host activities as well as just hang out.</li>
	                        <li>Improve the Student Union by envisioning new ways for it to be used by students as an activity hub as well as a general hangout location.</li>
	                        <li>Prove that the Student Body is ready to be respectful and responsible owners of a greatly improved Student Union</li>
                        <ul>
	        ]]></content>
        </section>
</body>
