/*TODO: Write a new stylesheet for mobile*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Roboto:100);

body, html
{
	height: 100%;
}

body 
{
	background-color: white;
	font-family: 'Roboto', serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

div
{
        margin: 0;
        padding: 0;
}

.wall
{
	height: 100%;
	text-align: justify;
}

.wall:after
{
	content: "";
	display: block;
	clear: both;
}

.mitem img
{
        max-width: 100%;
        height: auto;
        display: inline-block;
        margin: 0px;
        padding: 0px;
        float: right;
	background-color: white;
	position: relative;
	z-index: 0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	border: 1px solid rgba(0,0,0,0.6);
}

.mitem img:hover
{
        box-shadow: 0.2em 0.2em 1em rgba(0,0,0,0.3), -0.2em -0.2em 1em rgba(0,0,0,0.3);
        z-index: 2;
}

.mitem
{
        width: 20%;
        float: left;
	position: relative;
	background-color: white;
}

.mitem h1
{
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 3;
}

.mitem.large
{
        width: 40%;
}

.mitem.medium
{
        width: 20%;
}

.verybigtitle
{
	text-align: center;
	font-size: 4em;
	font-weight: 100;
	/*vertical-align: middle;*/
	color: white;
	margin: auto;
	position: absolute;
	top: -10%;
	bottom: 0;
	left: 0;
	right: 0;
	height: 10%;
	width: 100%;
}

#backcover
{
	/*background: url("/imsa-undefined/clubhub/media/Academy.jpg");
	background-size: 100%;
	background-position: center;*/
	width: 100%;
	height: 100%;
	position: relative;
	background: black;
}

#frontcover
{
	background-size: 100%;
	background-position: center;
	opacity: 0;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
	right: -5%;
	bottom: -5%;
	position: relative;
}

#backcover h1
{
	z-index: 2;
	opacity: 0;
	background-color: rgba(0,0,0,0.3);
	padding: 5% 0%;
}

#downarrow
{
        position: absolute;
	bottom: -25%;
	left: 0;
	right: 0;
	width: 10%;
	margin: 0 auto;
	height: auto%;
	opacity: 0.5;
	z-index: 2;
}

/* Isotope Animations */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 10s;
     -moz-transition-duration: 10s;
      -ms-transition-duration: 10s;
       -o-transition-duration: 10s;
          transition-duration: 10s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}
/* End animation */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*.fancybox-title {
    position:absolute;
    width:160px;
    left:-160px;
    bottom: 20px;
}*/

.fancybox-wrap 
{
        width: 80% !important;
}

.fancybox-outer
{
        width: 50% !important;
        height: auto !important;
        float: left;
}

.fancybox-inner
{
        width: auto !important;
        height: auto !important;
}

.fancybox-skin
{
        background-color: #FFFFFF !important;
        border-radius: 2px !important;
        color: black !important;
}

/*clearfix*/
.fancybox-skin::after {
    content: "";
    display: table;
    clear: both;
}

.fancybox-title {
        float: right;
        width: 45% !important;
        padding: 2% !important;
}

.fancybox-title iframe
{
        width: 100%;
        border-radius: 0.3em;
} 

/* Go To Club Hub */
#gotoclubhub
{
        position: fixed;
        width: 30%;
        height: auto;
        background-color: rgb(60,60,200);
        right: -40%;
        bottom: 2%;
        z-index: 5;
        border-radius: 2em;
        opacity: 0;
}

#gotoclubhub img
{
        max-width: 10%;
        margin: 0 2%;
        display: inline-block;
        vertical-align: middle;
}

#gotoclubhub p
{
        width: 50%;
        display: inline-block;
        vertical-align: middle;
}

#gotoclubhub a
{
        text-decoration: none;
        width: 100%;
        height: 80%;
        color: white;
        float: left;
}

#overdiv
{
        width: 100%;
        height: 100%;
        border-radius: 2em;
}

.footer 
{
	clear: both;
        float: none;
	background-color: black;
	margin-top: 5%;
	padding: 2% 12%;
}

img.footer-logo {
        width: 5%;
        height: auto;
        vertical-align: bottom;
}

footer 
{
	color: white;
}

.disclaimer
{
        color: rgb(200,60,60);
}
